// @import './lightsaber';
@import './social-links';
@import './variables';
// @import 'compass/css3';
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition {
    transition: all 0.5s ease-out;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: $bg;
    color: $text;
    font-family: 'Roboto';
}

.wrapper {
    background: $bg;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    position: relative;
}

header {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    align-self: start;
    text-align: center;
    h1,
    h2 {
        margin-top: 20px;
    }
}

@media screen and (max-width: 760px) {
    header {
        // grid-column: 1 / 5;
        padding: 20px;
    }
}

@mixin link {
    a:not(:last-child) {
        margin-right: 20px;
    }
    a {
        font-size: 16px;
        text-decoration: none;
        color: $blue;
        display: inline-block;
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $blueDarker;
            transition: width 1s;
        }
        &:hover {
            color: $blueDarker;
            transition: color 1s;

        }
        &.active {
            &::after {
                width: 100%;
            }
        }
    }

    @media (pointer: fine) {
      a {
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
}

nav {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    text-align: center;
    @include link();
}

@media screen and (max-width: 760px) {
    nav {}
}

main {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
    color: $text;
    font-size: 16px;
    line-height: 1.7em;

    ul {
        padding: 0;
    }
    small {
        color: rgba(206, 206, 206, 0.97);
    }
    #projects {
        li {
            list-style: none;
            margin-bottom: 15px;
        }
        @include link();
    }
}

@media screen and (max-width: 760px) {
    main {
        grid-column: 1 / 5;
        padding: 20px;
    }
}

footer {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    color: $text;
    align-self: center;
    justify-self: center;
    ul {
        padding: 0;
    }
}

@media screen and (max-width: 760px) {
    footer {
        // padding: 20px;
    }
}

.hide {
    display: none;
}

h1,
h2 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    color: #c4c4c4;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #7c7c7c;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
}
