@import './lightsaber';
@import './social-links';

$headers: #006DF0;
$text: white;
$bg: black;
$footer: $bg;
$green: #91DC5A;
$red: #D80027;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition {
  transition: all 0.5s ease-out;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: $bg;
  font-family: 'Roboto';
}

.wrapper {
  background: $bg;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

header {
  display: grid;
  grid-column: 1 / 5;
  color: $headers;
  align-self: end;

  h1 {
    // align-self: end;
  }

  h2 {
    margin-top: 20px;
    // align-self: end;
  }
}

header, footer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

main {
  // display: grid;
  grid-column: 2 / 4;
  justify-self: center;
  align-self: end;
  // grid-template-columns: 1fr 1fr;
  color: $text;
  font-size: 16px;
  // margin: 0 auto;

  p {
    // grid-column: 2 / 3;
  }

  .lightsaber-blade {
    // grid-column: 3 / 3;
    // float: right;
    align-self: end;
    // justify-content: center;
  }
}

footer {
  grid-column: 1 / 5;
  color: $text;
  align-self: end;
  justify-self: center;
}
