<div class="content-section-b">

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-6 col-lg-offset-1 col-sm-push-5 col-sm-5">
        <h2 class="section-heading"> About Me </h2>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <p class="lead">First things first, Han Shot First! (and Yoda can beat the Lord Sidious)</p>
        <br>
        <p class="lead">I'm 21 y/o, currently living in Brazil. At the moment I'm working with Freelance Projects and Open Source Codes.</p>
        <br>
        <p class="lead">I'm a Front-End enthusiastic who loves everything about JavaScript. Always trying to
          learn something new, and also easier ways of doing things. </p>
        <br>
      </div>
      <div class="col-lg-3 col-sm-pull-6  col-sm-3">
        <img class="img-responsive img-circle profile-picture" src="images/me2.jpg" >
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->
