<div class="content-section-b">

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <h2 class="section-heading"> About Me </h2>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <p class="lead">First things first, Han Shot First! (and Yoda can beat the Lord Sidious)</p>
        <br>
        <p class="lead">I'm 20 y/o, currently living in Brazil. At the moment I'm working at ASIX6, an great Startup
          with a small but great team.</p>
        <br>
        <p class="lead">I'm a Front-End enthusiastic who loves everything about JavaScript. Always trying to
          learn something new, and also easier ways of doing things. </p>
        <br>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive img-circle" src="images/me.jpg" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->
