<div class="content-section-a">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading">Curriculum</h2>
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <p class="lead">
            <!--Resume: <a> PDF</a>, <a> Doc</a>
            <br><br>-->
            <!--Curriculum: --><a href="/portfolio/download/Curriculo_Matheus_Victor_Faria_Gontijo.pdf" target="_blank"> PDF </a>,
            <a href="/portfolio/download/Curriculo_Matheus_Victor_Faria_Gontijo.docx" download> Doc</a>
          </p>

          <br>
          <p><b><smal>Updated: 04/09/2016</smal></b></p>
        </div>
      </div>
    </div>
  </div>
