<div class="content-section-a">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading">Resume</h2>
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <p class="lead">
            Resume: <a> PDF</a>, <a> Doc</a>
            <br><br>
            Curriculum: <a href="/portfolio/cv/curriculum.pdf" target="_blank"> PDF </a>, <a href="/portfolio/cv/curriculum.docx" download="MatheusVictorCurriculum.docx"> Doc</a>
          </p>

          <br>
          <p><b><smal>Updated: 07/08/2016</smal></b></p>
        </div>
      </div>
    </div>
  </div>
