<div class="content-section-a">
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-heading">Resume</h2>
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <p class="lead">
            Resume: <a> PDF</a>, <a> Doc</a>
            <br><br>
            Curriculum: <a> PDF </a>, <a> Doc</a>
          </p>

          <br>
          <p><b><smal>Updated: 00/00/0000</smal></b></p>
        </div>
      </div>
  </div>
