<a name="services"></a>
<div class="content-section-a">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="clearfix"></div>
        <h2 class="section-heading"> Skills </h2>
      </div>
    </div>

    <div class="row">
      <h2 class="text-center content-heading"> BackEnd </h2>
      <div class="col-lg-3"></div>
      <div class="col-lg-9">
        <img ng-src="images/backend.png" class="img-responsive">
      </div>
      <div class="clearfix"></div>

      <h4 class="text-center skill-less-known"> Less Known (learning) </h4>
      <div class="col-lg-5 col-xs-4"></div>
      <div class="col-lg-2 col-xs-4 skill-less-known">
        <img ng-src="images/rubyonrails.png" class="img-responsive">
      </div>
      <div class="col-lg-5 col-xs-4"></div>
      <div class="clearfix"></div>
      <hr class="section-content-spacer skills">
    </div>

    <div class="row">
      <h2 class="text-center content-heading"> FrontEnd </h2>
      <div class="col-lg-3"></div>
      <div class="col-lg-9">
        <img ng-src="images/frontend.png" class="img-responsive">
      </div>
      <div class="clearfix"></div>

      <h4 class="text-center skill-less-known"> Less Known (learning) </h4>
      <div class="col-lg-4 col-xs-2"></div>
      <div class="col-lg-2 col-xs-4 skill-less-known">
        <img ng-src="images/react.png" class="img-responsive">
      </div>
      <div class="col-lg-2 col-xs-4 skill-less-known">
        <img ng-src="images/foundation.png" class="img-responsive">
      </div>
      <div class="col-lg-4 col-xs-2"></div>
      <div class="clearfix"></div>
      <hr class="section-content-spacer skills">
    </div>

    <div class="row">
      <h2 class="text-center content-heading"> DataBase </h2>
      <div class="col-lg-3"></div>
      <div class="col-lg-9">
        <img ng-src="images/database.png" class="img-responsive">
      </div>
      <div class="clearfix"></div>

      <h4 class="text-center skill-less-known"> Less Known (learning) </h4>
      <div class="col-lg-5 col-xs-4"></div>
      <div class="col-lg-2 col-xs-4 skill-less-known">
        <img ng-src="images/mongodb.png" class="img-responsive">
      </div>
      <div class="col-lg-5 col-xs-4"></div>
      <div class="clearfix"></div>
      <hr class="section-content-spacer skills">
    </div>

    <div class="row">
      <h2 class="text-center content-heading"> Misc </h2>
      <div class="col-lg-3"></div>
      <div class="col-lg-9">
        <img ng-src="images/misc.png" class="img-responsive">
      </div>
      <div class="clearfix"></div>

      <h4 class="text-center skill-less-known"> Less Known (learning) </h4>
      <div class="col-lg-4 col-xs-2"></div>
      <div class="col-lg-2 col-xs-4 skill-less-known">
        <img ng-src="images/chaijs-mocha.png" class="img-responsive">
      </div>
      <div class="col-lg-2 col-xs-4 skill-less-known">
        <img ng-src="images/karma.png" class="img-responsive">
      </div>
      <div class="col-lg-4 col-xs-2"></div>
      <div class="clearfix"></div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->
